:root {
  --description-site: #5755D2;
  --date-and-calander: #ECEAE8;
  --week-days-color: #636162;
  --current-date-color: #c9c8c8;
  --selected-date: var(--description-site);
  --white: #FBF6FB;
  --light-red: #BC2261;
  --dark-purple: #5148BA;
  --title-and-selection: #AB84C4;
  --gradient1: -30deg,#5148BA,#AB84C4;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--week-days-color);
}

::-webkit-scrollbar-thumb {
  display: none;
}

input {
  color: var(--white);
}

#memeber {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--title-and-selection);
  text-align: center;
  margin: 5px;
}
#memeber #profile_img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#memeber #profile_img h3 {
  margin: 0;
  text-transform: uppercase;
}
#memeber #profile_name {
  color: var(--dark-purple);
  font-size: 0.6rem;
  margin: 0;
}

#back {
  width: unset;
  position: absolute;
  top: 2vh;
  left: 2vw;
}
#back button {
  background-color: var(--dark-purple);
  border-radius: 0;
  color: var(--white);
  height: 50px;
}
#back button:hover {
  background-color: var(--white);
  color: var(--dark-purple);
  border: unset;
}

#logout {
  background-color: var(--light-red);
  position: absolute;
  height: 50px;
  border-radius: 0;
  bottom: 2vh;
  left: 2vh;
  color: var(--white);
}

#logout:hover {
  background-color: var(--white);
  border: unset;
  color: var(--light-red);
}

#description {
  height: 100px;
  overflow-y: auto;
}
#description #overview {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}
#description #overview .overview_monthName {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#description #overview #overview_selecteddays_from_the_month {
  overflow-x: auto;
  display: grid;
  grid-template-rows: 30px;
  grid-column-gap: 5px;
}
#description #overview #overview_selecteddays_from_the_month #month_date {
  margin: 0 2px;
  height: 30px;
  width: 30px;
}
#description #overview #overview_selecteddays_from_the_month #month_date p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-purple);
  height: 100%;
  width: 100%;
}

#description_and_users {
  position: relative;
}
#description_and_users #img_div {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#description_and_users #img_div h2 {
  color: var(--white);
}
#description_and_users p {
  margin: 0;
  font-weight: 300;
  color: var(--white);
}

#title {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--title-and-selection);
}

#crues_status {
  width: 100%;
  height: 80px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}

button {
  border: unset;
  background-color: var(--title-and-selection);
  height: 30px;
  width: 100px;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--selected-date);
  transition: 1s;
}

button:hover {
  color: white;
  background-color: var(--description-site);
  border: 1px solid var(--white);
}

.selected {
  background-color: var(--description-site);
  color: var(--current-date-color);
}

.selected-month {
  color: var(--description-site);
}

#topDiv {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
#topDiv #dateAndMonth {
  height: 100%;
}
#topDiv #dateAndMonth h1, #topDiv #dateAndMonth h3 {
  color: var(--current-date-color);
  margin: 0;
}
#topDiv #dateAndMonth h1 {
  font-size: 4rem;
}
#topDiv #dateAndMonth h3 {
  font-weight: lighter;
}
#topDiv #yearAndMonthDiv h3 {
  color: var(--week-days-color);
  text-align: right;
  position: relative;
  right: 10px;
}
#topDiv #yearAndMonthDiv #monthsDiv {
  color: var(--current-date-color);
  font-weight: bold;
}
#topDiv #yearAndMonthDiv #monthsDiv .mRow {
  display: flex;
  justify-content: space-around;
}

#weekdays {
  display: flex;
  justify-content: space-around;
  color: var(--week-days-color);
  font-weight: bold;
}
#weekdays #weekday {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#datesDiv {
  height: 100%;
  width: 100%;
}
#datesDiv #dateRow {
  display: flex;
  justify-content: space-around;
}
#datesDiv #dateRow #dateDiv {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
#datesDiv #dateRow #dateDiv:hover {
  background-color: var(--week-days-color);
  color: var(--date-and-calander);
}

#login_main, #signUp_main {
  width: 90vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login_main #login, #login_main #signUp, #signUp_main #login, #signUp_main #signUp {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
}
#login_main #signUp, #signUp_main #signUp {
  height: 85%;
}

#logo_div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#logo_div h3 {
  color: var(--description-site);
}
#logo_div img {
  width: 70%;
}

#form_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}

#app_form {
  height: unset;
  position: relative;
  top: 5%;
}

.sign-up_form, .login_form {
  width: 60%;
}

.sign-up_form {
  justify-content: space-evenly;
}

#rememeberMe_div label {
  color: var(--white);
}

#input, .input {
  height: 30px;
  border: 1px solid var(--white);
  background-color: unset;
}

#input::-moz-placeholder, .input::-moz-placeholder {
  color: var(--dark-purple);
  font-family: var(--font-family);
}

#input:-ms-input-placeholder, .input:-ms-input-placeholder {
  color: var(--dark-purple);
  font-family: var(--font-family);
}

#input::placeholder, .input::placeholder {
  color: var(--dark-purple);
  font-family: var(--font-family);
}

#form_button, .form_button {
  background-color: var(--white);
  border-radius: 0;
  font-weight: lighter;
  color: var(--dark-purple);
  width: 100%;
  transition: 1s;
}

#form_button:hover, .form_button:hover {
  background-color: var(--dark-purple);
  color: var(--white);
}

#signup_link, #login_link {
  color: var(--dark-purple);
  text-align: center;
}
#signup_link a, #login_link a {
  color: var(--white);
  transition: 1s;
}
#signup_link a:hover, #login_link a:hover {
  color: var(--title-and-selection);
}

#joinCreate_main {
  width: 100vw;
  height: 100vh;
}
#joinCreate_main #choose {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
#joinCreate_main #choose #join_group, #joinCreate_main #choose #create_group {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#joinCreate_main #choose #join_group input, #joinCreate_main #choose #join_group button, #joinCreate_main #choose #create_group input, #joinCreate_main #choose #create_group button {
  margin-top: 5%;
}
#joinCreate_main .create, #joinCreate_main .join {
  display: none;
  transition: 1s;
}

#bg_img {
  position: absolute;
  width: 70%;
  filter: blur(20px);
  z-index: -1;
  left: 15%;
  top: 15%;
  opacity: 54%;
}

.join_btn, .create_btn {
  border: 1px solid var(--white);
  background-color: unset;
  border-radius: 0;
  font-weight: lighter;
  width: 50%;
  height: 40px;
  font-size: 1rem;
  color: white;
}

.join_btn:hover, .create_btn:hover {
  border: 1px solid var(--white);
  background-color: unset;
  color: white;
}

.join_create_form {
  display: flex;
  height: unset;
}

.active_btn {
  background-color: var(--white);
  color: var(--dark-purple);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(var(--gradient1));
  font-family: var(--font-family);
  cursor: default;
}
body #main {
  width: 60%;
}
body #main #calander {
  background-color: var(--test-div-color);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
body #main #calander #description_and_users, body #main #calander #date_and_calander {
  padding: 10px 20px;
}
body #main #calander #description_and_users {
  display: inline-block;
  height: 100%;
  background-color: var(--description-site);
  overflow-y: auto;
  overflow-x: hidden;
}
body #main #calander #date_and_calander {
  display: grid;
  height: 100%;
  grid-template-rows: 30% 10% 60%;
  grid-template-columns: 100%;
  background-color: var(--date-and-calander);
}/*# sourceMappingURL=style.css.map */