<%- include('header_and_footer/header') -%>

<div id="back">
    <form action="/" method="get">
        <button type="submit">BACK</button>
    </form>
</div>

<h1 id="u_err">err happened</h1>

<%- include('header_and_footer/footer') -%> 
