<%- include('header_and_footer/header') -%>

<div id="main">
    <div id="calander">
        <div id="description_and_users">
            <div id="img_and_name">
                <div id="img_div">
                    <img src="User Profile.jpg" alt="">
                </div>
                <p>በአምላክ ታደሠ</p>
            </div>
            <div id="Title">
                <h1 id="title">Looking For Free Schedule</h1>
            </div>
            <div id="description">
                <p>this is a description part where it shows who setted in and who is left</p>
            </div>
            
            <form action="/" id="app_form" method="post">
                <input type="hidden" name="dates" id="grab" required>
                <button type="submit" id="btn">SET</button>
            </form>
            <div id="crues_status">
                <!-- here it goes the crues img and if finished or not -->
            </div>
        </div>
        <div id="date_and_calander">
            
        </div>
    </div>
</div>
<!-- Main Js File Which Runs the App -->
<script src="../main.js"></script>

<%- include('header_and_footer/footer') -%> 