<%- include('header_and_footer/header') -%>

<div id="signUp_main">
    <div id="signUp">
        <!-- Hero Image -->

        <%- include('common/heroDiv') -%>

        <div id="form_div">
            <form action="/signup" class="sign-up_form" method="post">
                <input type="text" name="fullname" class="input" placeholder="full name" required>
                
                <!-- * Signup authentication form directory at COMMON folder -->

                <%- include('common/signupAuthenticationForm') -%>

                <div id="rememeberMe_div">
                    <label for="checkbox">Rememeber Me</label>
                    <input type="checkbox" name="rememeberMe" checked id="checkbox">
                </div>
                <button type="submit" id="form_button">SIGNUP</button>
                <span id="login_link">i already have an account let me <a href="/"><u>login</u></a></span>
            </form>
        </div>
    </div>
</div>

<%- include('header_and_footer/footer') -%>