<%- include('header_and_footer/header') -%>

<div id="signUp_main">
    <div id="signUp">
        <!-- Hero Image -->

        <%- include('common/heroDiv') -%>

        <div id="form_div">
            <form action="/signup" class="sign-up_form" method="post">
                <input type="text" name="fullname" class="input" placeholder="full name" required>
                
                <% if (emailExist) { %>

                    <input type="email" name="email" class="input"  style="border-color: red;" placeholder="email already exists maybe LOGIN?" required>
                <% } else {%>

                    <input type="email" name="email" class="input" placeholder="email" required>
                <% } %>

                <input type="password" name="password" class="input" placeholder="password" required>
               
                <% if(matchPassword) {%>
                    
                    <input type="password" name="re_password" class="input" style="border-color: red;" placeholder="password dont match" required>
                <% }else{ %>
                    
                    <input type="password" name="re_password" class="input" placeholder="re-enter password" required>
                <% } %> 

                <div id="rememeberMe_div">
                    <label for="checkbox">Rememeber Me</label>
                    <input type="checkbox" name="rememeberMe" checked id="checkbox">
                </div>
                <button type="submit" id="form_button">SIGNUP</button>
                <span id="login_link">i already have an account let me <a href="/"><u>login</u></a></span>
            </form>
        </div>
    </div>
</div>

<%- include('header_and_footer/footer') -%>