<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div id="screen_cover">
        <h1>Sorry The Web App is Not Compactable For This Resolution Already It Is On <u id="u_err">Built Progress Please.</u> <br> Try To Access The Web With Pc Or <u id="u_err">Rotating Your Phone LandScape Mode</u> Might Help. <br>Thank You.</h1>
        <img src="/assets/mhcda_logo.svg" alt="">
    </div>